@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible";
  font-weight: 700;
}

.menuMainDiv {
  width: 100vw;
  min-height: 100vh;
  background: #152938;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .gameLogo {
    color: #fcfcfc;
    font-size: 32px;
    line-height: 40px;
  }

  .menuDiv {
    margin-top: 45px;
    padding: 24px;
    background: #fcfcfc;
    border-radius: 10px;
  }

  .options,
  .playerOption,
  .gridOption {
    font-size: 15px;
    line-height: 19px;
    color: #7191a5;
  }

  .playerOption,
  .gridOption {
    margin-top: 24px;
  }

  .buttonsSection {
    display: flex;
    gap: 11px;
    margin-top: 11px;
  }

  .numberButton,
  .iconButton {
    background: #304859;
    border-radius: 26px;
    border: none;
    color: #fcfcfc;
    width: 134px;
    height: 40px;
  }

  .playerNumberDiv {
    display: flex;
    gap: 10px;
    margin-top: 11px;
  }

  .playerNumbersButton {
    width: 62px;
    height: 40px;
    border: none;
    border-radius: 26px;
    background: #304859;
    color: #fcfcfc;
  }

  .gridDiv {
    display: flex;
    gap: 11px;
    margin-top: 11px;
  }

  .gridButton {
    width: 134px;
    height: 40px;
    border: none;
    border-radius: 26px;
    background: #304859;
    color: #fcfcfc;
  }

  .startButton {
    background: #fda214;
    border-radius: 26px;
    border: none;
    color: #fcfcfc;
    width: 279px;
    height: 48px;
    margin-top: 32px;
  }
}

.gameInterfaceMainDiv {
  width: 100vw;
  height: 100vh;
  padding: 24px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoSize {
      width: 92px;
      height: 30px;
    }

    .menuButton {
      border: none;
      color: #fcfcfc;
      border-radius: 26px;
      background: #fda214;
      padding: 10px 19px;
    }
  }

  .circlesDisplay16,
  .circlesDisplay36 {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
    width: 327px;
    margin: 80px auto 102px;

    &.circlesDisplay36 {
      grid-template-columns: repeat(6, 1fr);
      gap: 9px;
    }

    .circle16,
    .circle36 {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #304859;
      color: #fcfcfc;
      width: 72px;
      height: 72px;
      border-radius: 100%;
      font-size: 40px;
      cursor: pointer;
    }

    .circle36 {
      width: 47px;
      height: 47px;
      font-size: 24px;
    }

    .selected {
      background-color: #bcced9;
    }

    .matched {
      background-color: #fda214;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    gap: 25px;

    .timeDiv,
    .movesDiv {
      width: 151px;
      border-radius: 5px;
      background-color: #dfe7ec;
    }

    .timeText,
    .MovesText {
      text-align: center;
      font-size: 15px;
      color: #7191a5;
      padding-top: 10px;
    }

    .timer,
    .moves {
      text-align: center;
      font-size: 24px;
      color: #304859;
      padding: 2px 0px 9px 0px;
    }
  }
}

.gameOverDivMain {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .gameOverDiv {
    width: 327px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f2f2f2;
    border-radius: 10px;
    padding: 0px 24px 24px 24px;

    .commend {
      font-size: 24px;
      text-align: center;
      margin-top: 32px;
    }

    .resultIntro {
      color: #7191a5;
      text-align: center;
      margin: 9px 0px 24px 0px;
      font-size: 14px;
    }

    .results {
      color: #7191a5;
      font-size: 13px;
    }

    .resultDetail {
      color: #304859;
      font-size: 20px;
    }

    .timeElapsed,
    .movesTaken {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #dfe7ec;
      border-radius: 5px;
      padding: 11px 16px 12px 16px;
    }

    .movesTaken {
      margin-top: 8px;
    }

    .gameOverFooter {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
    }

    .restartButtonLink {
      border: none;
      background: #fda214;
      border-radius: 26px;
      color: #fcfcfc;
      text-align: center;
      padding: 12px 0px 12px 0px;
    }

    .restartButton {
      border: none;
      color: #fcfcfc;
      background: #fda214;
    }

    .setupButtonLink {
      border: none;
      border-radius: 26px;
      background: #dfe7ec;
      margin-top: 16px;
      padding: 12px 0px 12px 0px;
      text-align: center;
    }

    .setupButton {
      border: none;
      background: #dfe7ec;
      color: #304859;
    }
  }
}

.GameMenuDivMain {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .GameMenuDiv {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 327px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f2f2f2;
    padding: 24px 24px 24px 24px;
    gap: 16px;
  }

  .restartButton,
  .newGameButtonLink,
  .resumeButton {
    padding: 13px 0px 13px 0px;
    border-radius: 26px;
    background: #dfe7ec;
    border: none;
    color: #304859;
    font-size: 18px;
    text-align: center;
  }

  .newGameButton {
    border: none;
    background: #dfe7ec;
    font-size: 18px;
    color: #304859;
  }

  .restartButton {
    background-color: #fda214;
    color: #fcfcfc;
  }
}

.playerTurnsMainDiv {
  display: flex;
  justify-content: center;
  gap: 24px;

  .playerDivs {
    border-radius: 5px;
    background: #dfe7ec;
    padding: 10px 0;
    width: 100%;
  }

  .playerNumber {
    color: #7191a5;
    text-align: center;
    font-size: 15px;
  }

  .score {
    color: #304859;
    text-align: center;
    font-size: 24px;
  }
}
