@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible";
  font-weight: 700;
}

body {
  overflow-x: hidden;
}

.gameLogo {
  color: #fcfcfc;
  font-size: 32px;
  line-height: 40px;
}

.menuMainDiv {
  width: 100vw;
  min-height: 100vh;
  background: #152938;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .menuDiv {
    margin-top: 45px;
    padding: 24px;
    background: #fcfcfc;
    border-radius: 10px;
  }

  .options,
  .playerOption,
  .gridOption {
    font-size: 15px;
    line-height: 19px;
    color: #7191a5;
  }

  .playerOption,
  .gridOption {
    margin-top: 24px;
  }

  .buttonsSection {
    display: flex;
    gap: 11px;
    margin-top: 11px;
  }

  .numberButton,
  .iconButton {
    border-radius: 26px;
    border: none;
    color: #fcfcfc;
    width: 134px;
    height: 40px;
    cursor: pointer;
  }

  .numberButton:hover,
  .iconButton:hover {
    background: #6395b8;
  }

  .playerNumberDiv {
    display: flex;
    gap: 10px;
    margin-top: 11px;
  }

  .playerNumbersButton {
    width: 62px;
    height: 40px;
    border: none;
    border-radius: 26px;
    color: #fcfcfc;
    cursor: pointer;
  }

  .playerNumbersButton:hover {
    background: #6395b8;
  }

  .gridDiv {
    display: flex;
    gap: 11px;
    margin-top: 11px;
  }

  .gridButton {
    width: 134px;
    height: 40px;
    border: none;
    border-radius: 26px;
    color: #fcfcfc;
    cursor: pointer;
  }

  .gridButton:hover {
    background: #6395b8;
  }

  .startButton {
    background: #fda214;
    border-radius: 26px;
    border: none;
    color: #fcfcfc;
    width: 279px;
    height: 48px;
    margin-top: 32px;
    cursor: pointer;
  }

  .startButton:hover {
    background: #ffb84a;
  }
}

.gameInterfaceMainDiv {
  width: 100vw;
  padding: 24px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoSize {
      width: 92px;
      height: 30px;
    }

    .menuButton {
      border: none;
      color: #fcfcfc;
      border-radius: 26px;
      background: #fda214;
      padding: 10px 19px;
    }
  }

  .headerButtons {
    display: none;
  }

  .circlesDisplay16,
  .circlesDisplay36 {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
    width: 327px;
    margin: 80px auto 102px;

    &.circlesDisplay36 {
      grid-template-columns: repeat(6, 1fr);
      gap: 9px;
    }

    .circle16,
    .circle36 {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #304859;
      color: #fcfcfc;
      width: 72px;
      height: 72px;
      border-radius: 100%;
      font-size: 40px;
      cursor: pointer;
    }

    .circle36 {
      width: 47px;
      height: 47px;
      font-size: 24px;
    }

    .selected {
      background-color: #bcced9;
    }

    .matched {
      background-color: #fda214;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    gap: 25px;

    .timeDiv,
    .movesDiv {
      width: 151px;
      border-radius: 5px;
      background-color: #dfe7ec;
    }

    .timeText,
    .MovesText {
      text-align: center;
      font-size: 15px;
      color: #7191a5;
      padding-top: 10px;
    }

    .timer,
    .moves {
      text-align: center;
      font-size: 24px;
      color: #304859;
      padding: 2px 0px 9px 0px;
    }
  }
}

.gameOverDivMain {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .gameOverDiv {
    width: 327px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f2f2f2;
    border-radius: 10px;
    padding: 0px 24px 24px 24px;

    .commend {
      font-size: 24px;
      text-align: center;
      margin-top: 32px;
    }

    .resultIntro {
      color: #7191a5;
      text-align: center;
      margin: 9px 0px 24px 0px;
      font-size: 14px;
    }

    .results {
      color: #7191a5;
      font-size: 13px;
    }

    .resultDetail {
      color: #304859;
      font-size: 20px;
    }

    .timeElapsed,
    .movesTaken {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #dfe7ec;
      border-radius: 5px;
      padding: 11px 16px 12px 16px;
    }

    .movesTaken {
      margin-top: 8px;
    }
    .winnerBackground {
      background: #152938;
    }

    .winnerColor {
      color: #fcfcfc;
    }

    .gameOverFooter {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
    }

    .restartButtonLink {
      border: none;
      background: #fda214;
      border-radius: 26px;
      color: #fcfcfc;
      text-align: center;
      padding: 12px 0px 12px 0px;
      cursor: pointer;
    }

    .setupButtonLink {
      border: none;
      border-radius: 26px;
      background: #dfe7ec;
      margin-top: 16px;
      padding: 12px 0px 12px 0px;
      text-align: center;
    }

    .setupButton {
      border: none;
      background: #dfe7ec;
      color: #304859;
    }
  }
}

.GameMenuDivMain {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .GameMenuDiv {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 327px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f2f2f2;
    padding: 24px 24px 24px 24px;
    gap: 16px;
  }

  .restartButton,
  .newGameButtonLink,
  .resumeButton {
    padding: 13px 0px 13px 0px;
    border-radius: 26px;
    background: #dfe7ec;
    border: none;
    color: #304859;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
  }

  .newGameButton {
    border: none;
    background: #dfe7ec;
    font-size: 18px;
    color: #304859;
  }

  .restartButton {
    background-color: #fda214;
    color: #fcfcfc;
    cursor: pointer;
  }
}

.playerTurnsMainDiv {
  display: flex;
  justify-content: center;
  gap: 24px;

  .playerDivs,
  .activePlayerDiv {
    border-radius: 5px;
    background: #dfe7ec;
    padding: 10px 0;
    width: 64px;
  }

  .playerNumber,
  .activePlayerNumber,
  .playerNumb,
  .activePlayerNumb {
    color: #7191a5;
    text-align: center;
    font-size: 15px;
  }

  .score,
  .activePlayerScore {
    color: #304859;
    text-align: center;
    font-size: 24px;
  }

  .activePlayerDiv {
    background-color: #fda214;
  }

  .activePlayerNumber,
  .activePlayerScore,
  .activePlayerNumb {
    color: #fcfcfc;
  }

  .activePlayerNumb,
  .playerNumb {
    display: none;
  }
}

.colorForMenu {
  background: #304859;
}

.colorForMenu2 {
  background: #bcced9;
}

.turnStyles {
  display: none;
}

.triangleDiv {
  position: relative;
}

.triangle {
  position: absolute;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 25px solid #fda214;
  top: -15px;
  left: 50%;
}

@media (min-width: 768px) {
  .menuMainDiv {
    .menuDiv {
      margin-top: 78px;
      padding: 56px;
    }

    .playerOption,
    .gridOption {
      margin-top: 32px;
    }

    .options,
    .playerOption,
    .gridOption {
      font-size: 20px;
    }

    .buttonsSection {
      margin-top: 16px;
      gap: 30px;
    }

    .numberButton,
    .iconButton,
    .gridButton {
      width: 256px;
      height: 52px;
      font-size: 26px;
    }

    .playerNumberDiv {
      gap: 22px;
    }

    .playerNumbersButton {
      width: 119px;
      height: 52px;
      margin-top: 16px;
      font-size: 26px;
    }

    .gridDiv {
      margin-top: 16px;
      gap: 30px;
    }

    .startButton {
      width: 541px;
      height: 70px;
      border-radius: 35px;
      font-size: 32px;
    }
  }

  .gameInterfaceMainDiv {
    padding: 38px 40px 38px 40px;
    .header {
      .logoSize {
        width: 153px;
        height: 50px;
      }
    }

    .menuButton {
      display: none;
    }

    .headerButtons {
      display: flex;
      gap: 16px;
    }

    .restartButton {
      padding: 14px 29px;
      border-radius: 26px;
      background: #fda214;
      border: none;
      color: #fcfcfc;
      font-size: 20px;
      cursor: pointer;
    }

    .restartButton:hover {
      background: #ffb84a;
    }

    .newGameButton {
      padding: 14px 24px;
      border: none;
      border-radius: 26px;
      background: #dfe7ec;
      font-size: 20px;
      color: #304859;
      cursor: pointer;
    }

    .newGameButton:hover {
      background: #6395b8;
      color: #fcfcfc;
    }

    .circlesDisplay16 {
      margin: 157px auto 126px;
      width: 532px;
      gap: 20px;
      .circle16 {
        width: 118px;
        height: 118px;
        font-size: 56px;
      }

      .circle16:hover {
        background: #6395b8;
      }
    }

    .circlesDisplay36 {
      margin: 121px auto 122px;
      width: 592px;

      .circle36 {
        width: 82px;
        height: 82px;
        font-size: 60px;
      }

      .circle36:hover {
        background: #6395b8;
      }

      &.circlesDisplay36 {
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
      }
    }

    .footer {
      gap: 30px;
      .timeDiv,
      .movesDiv {
        display: flex;
        justify-content: space-between;
        width: 255px;
        padding: 16px 22px 16px;
        align-items: center;
      }

      .timeText,
      .MovesText {
        font-size: 18px;
      }

      .timer,
      .moves {
        font-size: 32px;
        padding: 0;
      }
    }
  }
  .playerTurnsMainDiv {
    .playerDivs,
    .activePlayerDiv {
      padding: 14px 0px 14px 15px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      width: 164px;
    }

    .playerNumber,
    .activePlayerNumber {
      display: none;
    }

    .activePlayerNumb,
    .playerNumb {
      display: flex;
    }

    .playerNumb,
    .score,
    .activePlayerNumb,
    .activePlayerScore {
      text-align: left;
    }

    .score,
    .activePlayerScore {
      margin-top: 5px;
    }
  }

  .gameOverDivMain {
    .gameOverDiv {
      width: 654px;

      .commend {
        font-size: 48px;
        margin-top: 51px;
      }

      .resultIntro {
        font-size: 18px;
        margin: 16px 0px 40px 0px;
      }

      .timeElapsed,
      .movesTaken {
        padding: 16px 32px 16px 32px;
        border-radius: 10px;
      }

      .results {
        font-size: 18px;
      }

      .resultDetail {
        font-size: 32px;
      }

      .movesTaken {
        margin-top: 16px;
      }
    }
  }

  .gameOverDivMain {
    .gameOverDiv {
      padding: 0px 56px 69px;
      .gameOverFooter {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
      }

      .restartButtonLink,
      .setupButtonLink {
        width: 264px;
        height: 52px;
        margin-top: 0;
        font-size: 20px;
      }

      .setupButton {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .gameInterfaceMainDiv {
    padding: 67px 165px 35px;
  }

  .playerTurnsMainDiv {
    .playerDivs,
    .activePlayerDiv {
      padding: 15px 22px;
      height: 72px;
      flex-direction: row;
    }

    .playerNumb,
    .activePlayerNumb {
      font-size: 18px;
    }

    .scoreShower {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .playerDivs,
    .activePlayerDiv {
      align-items: center;
      justify-content: space-between;
      width: 255px;
    }

    .turnStyles {
      display: flex;
      letter-spacing: 5px;
      color: #152938;
      font-size: 13px;
      margin-top: 23px;
      text-align: center;
    }
  }
}
